
@model IEnumerable<SocieteListeViewModel>
<table>
  <tr>
   <th>id</th>
    <th>Designation</th>
    <th></th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>
       @Html.DisplayFor(i=> item.Id)
      </td>
      <td>
        @Html.DisplayFor(i=> item.Designation)
         <a asp-action="Index" asp-route-sortOrder="@ViewData["DesignationSortParm"]">@Html.DisplayNameFor(model => model.Designation)</a>
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
      </td>
    
  </tr>
  }
  
</table>